@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "daysoftype";
  src: url("./assets/fonts/Dirtyline-36daysoftype-2022.woff") format("woff");
  /* font-weight: nornal; */
  font-style: regular;
}

.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* .daysoftype {
  font-family: "daysoftype";
  font-feature-settings: "ss01";
  text-transform: uppercase;
} */

/* .dirtyline-special {
  @apply font-[daysoftype] uppercase [font-feature-settings:'ss01'];
} */

/* @layer components {
  .display-font {
    @apply font-[daysoftype] uppercase;
    font-feature-settings: "ss01";
  }
} */
html {
  scroll-behavior: smooth;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
:root {
  --foreground: RGB(0, 0, 0);
  --background: RGB(238, 243, 243);
  --text-color: RGB(62, 64, 67);
  -text-color-2: RGB(0, 0, 0);
  --icon-bg-color: RGB(216, 221, 221);
  --card-bg: RGB(225, 234, 234);
  --sideMenu-bg: RGB(238, 243, 243);
  --sideMenu-mask-bg: RGB(255, 255, 255);
  /* --button-text-color: rgb(63, 65, 68); */
}
.dark {
  --foreground: RGB(224, 238, 238);
  --background: RGB(18, 19, 21);
  --text-color: RGB(224, 238, 238);
  --text-color-2: RGB(197, 252, 252);
  --icon-bg-color: RGB(39, 34, 34);
  --card-bg: RGB(23, 25, 28);
  --sideMenu-bg: RGB(18, 19, 21);
  --sideMenu-mask-bg: RGB(40, 40, 40);
}

.embla {
  /* max-width: 100%; */
  /* max-width: 48rem; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 40%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  /* touch-action: pan-y pinch-zoom; */
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  /* transform: translate3d(0, 0, 0); */
  flex: 0 0 var(--slide-size);
  /* min-width: 0; */
  padding-left: var(--slide-spacing);
}

@custom-variant dark (&:where(.dark, .dark *));
