@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@font-face {
  font-family: "Britannic";
  src: url("./assets/fonts/BritannicBoldRegular.ttf");
  font-style: regular;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-style: regular;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.customCursor {
  cursor: url("/images/sweets/spoon.png"), auto;
  /* cursor: url("/images/candy/lolipop.png"), auto; */
}
:root {
  --foreground: rgb(0, 0, 0);
  --background: rgb(238, 243, 243);
  --text-color: rgb(62, 64, 67);
  -text-color-2: rgb(0, 0, 0);
  --icon-bg-color: rgb(216, 221, 221);
  --card-bg: rgb(217, 221, 221);
  --sideMenu-bg: rgb(238, 243, 243);
  --sideMenu-mask-bg: rgb(255, 255, 255);
  #background {
    background-image: url("/bg-svg-cropped.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .fixedgradient {
    background-color: rgba(175, 175, 175, 0.5);
  }
}
.dark {
  --foreground: rgb(224, 238, 238);
  --background: rgb(18, 19, 21);
  --text-color: rgb(224, 238, 238);
  --text-color-2: rgb(197, 252, 252);
  --icon-bg-color: rgb(39, 34, 34);
  /* --card-bg: rgb(213, 50, 9); */
  /* --card-bg: rgb(158, 1, 8); */
  --card-bg: rgb(37, 37, 38);
  --sideMenu-bg: rgb(18, 19, 21);
  --sideMenu-mask-bg: rgb(40, 40, 40);
  #background {
    background-image: url("/bg-svg-cropped.svg");
    background-color: #000000;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .fixedgradient {
    /* background: #050505;
    background: radial-gradient(
      circle,
      rgba(5, 5, 5, 0.8) 0%,
      rgba(0, 0, 0, 1) 100%
    ); */

    background: #000000;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 15%,
      rgba(255, 255, 255, 0.2) 45%,
      rgba(255, 255, 255, 0.2) 55%,
      rgba(0, 0, 0, 0.9) 85%
    );
  }
}

@layer utilities {
  .text-outline-effect {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
}
@custom-variant dark (&:where(.dark, .dark *));
