@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@font-face {
  font-family: "daysoftype";
  src: url("./assets/fonts/Dirtyline-36daysoftype-2022.woff") format("woff");
  font-style: regular;
}

.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* .daysoftype {
  font-family: "daysoftype";
  font-feature-settings: "ss01";
  text-transform: uppercase;
} */

/* .dirtyline-special {
  @apply font-[daysoftype] uppercase [font-feature-settings:'ss01'];
} */

/* @layer components {
  .display-font {
    @apply font-[daysoftype] uppercase;
    font-feature-settings: "ss01";
  }
} */
html {
  scroll-behavior: smooth;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.lionImgSection {
  cursor: url("./assets/torch.png"), auto;
}
:root {
  --foreground: rgb(0, 0, 0);
  --background: rgb(238, 243, 243);
  --text-color: rgb(62, 64, 67);
  -text-color-2: rgb(0, 0, 0);
  --icon-bg-color: rgb(216, 221, 221);
  --card-bg: rgb(217, 221, 221);
  --sideMenu-bg: rgb(238, 243, 243);
  --sideMenu-mask-bg: rgb(255, 255, 255);
  /* --button-text-color: rgb(63, 65, 68); */
  /* --bg-image: url("./assets/shyamBg.png"); */
  /* background-image: linear-gradient(
    rgb(235, 235, 235),
    rgba(255, 255, 255, 0.819)
  ); */
  #background {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(238, 238, 238, 0.85)
      ),
      url("/bg-svg-cropped.svg");
    /* url("/src/assets/shyamBg.png"); */
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.dark {
  --foreground: rgb(224, 238, 238);
  --background: rgb(18, 19, 21);
  --text-color: rgb(224, 238, 238);
  --text-color-2: rgb(197, 252, 252);
  --icon-bg-color: rgb(39, 34, 34);
  --card-bg: rgb(23, 25, 28);
  --sideMenu-bg: rgb(18, 19, 21);
  --sideMenu-mask-bg: rgb(40, 40, 40);
  /* background-image: linear-gradient(rgb(229, 26, 26), rgba(255, 0, 0, 0.819)); */
  #background {
    background-image: 
    /* linear-gradient(
        rgba(46, 46, 46, 0.85),
        rgba(36, 36, 36, 0.85)
      ), */ url("/bg-svg-cropped.svg");
    /* url("/src/assets/shyamBg.png"); */
    background-color: black;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@layer utilities {
  .text-outline-effect {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
}
@custom-variant dark (&:where(.dark, .dark *));
