@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@font-face {
  font-family: "daysoftype";
  src: url("./assets/fonts/Dirtyline-36daysoftype-2022.woff") format("woff");
  font-style: regular;
}

.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* .daysoftype {
  font-family: "daysoftype";
  font-feature-settings: "ss01";
  text-transform: uppercase;
} */

/* .dirtyline-special {
  @apply font-[daysoftype] uppercase [font-feature-settings:'ss01'];
} */

/* @layer components {
  .display-font {
    @apply font-[daysoftype] uppercase;
    font-feature-settings: "ss01";
  }
} */
html {
  scroll-behavior: smooth;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
:root {
  --foreground: rgb(0, 0, 0);
  --background: rgb(238, 243, 243);
  --text-color: rgb(62, 64, 67);
  -text-color-2: rgb(0, 0, 0);
  --icon-bg-color: rgb(216, 221, 221);
  --card-bg: rgb(217, 221, 221);
  --sideMenu-bg: rgb(238, 243, 243);
  --sideMenu-mask-bg: rgb(255, 255, 255);
  /* --button-text-color: rgb(63, 65, 68); */
}
.dark {
  --foreground: rgb(224, 238, 238);
  --background: rgb(18, 19, 21);
  --text-color: rgb(224, 238, 238);
  --text-color-2: rgb(197, 252, 252);
  --icon-bg-color: rgb(39, 34, 34);
  --card-bg: rgb(23, 25, 28);
  --sideMenu-bg: rgb(18, 19, 21);
  --sideMenu-mask-bg: rgb(40, 40, 40);
}

@custom-variant dark (&:where(.dark, .dark *));
